<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head><meta charset="UTF-8" /></head>
<body>
			
	<section class="layout-content" layout:fragment="corpo">
	
		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<i class="oi oi-caret-right"></i>
						<span>Home</span>
					</li>
				</ul>
			</div>
		</nav>
		
		<div class="container">
			<div id="list-home" class="row">
				<div class="col-4">
					<div class="list-group" id="list-tab" role="tablist">
						<a class="list-group-item list-group-item-action active"
							id="list-spring-boot-list" data-toggle="list" href="#spring-boot"
							role="tab" aria-controls="spring-boot">Sobre o sistema</a> <a
							class="list-group-item list-group-item-action" id="list-sts-list"
							data-toggle="list" href="#sts" role="tab" aria-controls="sts">Desc. Departamentos</a> <a class="list-group-item list-group-item-action"
							id="list-thymeleaf-list" data-toggle="list" href="#thymeleaf"
							role="tab" aria-controls="thymeleaf">Desc. Cargos</a> <a
							class="list-group-item list-group-item-action"
							id="list-webjars-list" data-toggle="list" href="#webjars"
							role="tab" aria-controls="webjars">Desc. Funcionários</a> <a
							class="list-group-item list-group-item-action"
							id="list-hibernate-list" data-toggle="list" href="#hibernate"
							role="tab" aria-controls="hibernate">Info. Técnicas Back-End</a> 
							<a
							class="list-group-item list-group-item-action"
							id="list-front-list" data-toggle="list" href="#front"
							role="tab" aria-controls="front">Info. Técnicas Front-End</a> 
					</div>
				</div>
				<div class="col-8">
					<div class="tab-content" id="nav-tabContent">
						<div class="tab-pane fade show active" id="spring-boot"
							role="tabpanel" aria-labelledby="list-spring-boot-list">
							<a href="https://projects.spring.io/spring-boot/"></a>
							Sistema para gerencimento/cadastro de funcionários, onde o operador do sistema tem total liberdade 
							para realizar ações como: Verificação, Inclusão, Atualização e Deleção de Departamentos, Cargos e/ou Funcionários.
							Ferramenta de fácil manuseio e compreensão, otimizando assim o tempo necessário demandado para a realização das tarefas 
							referentes ao gerenciamento de funcionários.
						</div>
						<div class="tab-pane fade" id="sts" role="tabpanel"
							aria-labelledby="list-sts-list">
							<a href="https://spring.io/tools"></a> Sessão designada para o gerenciamento de Departamentos.
							Na aba "Listar" são possíveis as ações de visualizar departamentos já cadastrados, editá-los ou removê-los. 
							Já na aba "Cadastrar", podem ser incluídos novos departamentos.
						</div>
						<div class="tab-pane fade" id="thymeleaf" role="tabpanel"
							aria-labelledby="list-thymeleaf-list">
							<a href="http://www.thymeleaf.org/"></a> Sessão designada para o gerenciamento de Cargos.
							Na aba "Listar" são possíveis as ações de visualizar cargos já cadastrados e seus respectivos departamentos relacionados, além de
						 	editá-los ou removê-los. 
							Já na aba "Cadastrar", podem ser incluídos novos cargos e seus respectivos departamentos relacionados.
						</div>
						<div class="tab-pane fade" id="webjars" role="tabpanel"
							aria-labelledby="list-webjars-list">
							<a href="https://www.webjars.org/"></a> Sessão designada para o gerenciamento de Funcionários.
							Na aba "Listar" são possíveis as ações de visualizar funcionários já cadastrados, editá-los ou removê-los. 
							Já na aba "Cadastrar", podem ser incluídos novos funcionários.
						</div>
						<div class="tab-pane fade" id="hibernate" role="tabpanel"
							aria-labelledby="list-hibernate-list">
							<a href="http://hibernate.org/orm/"></a> Sistema desenvolvido em Java, utilizando as facilidades do Framework Spring Boot e Spring MVC.
							Para Mapeamento Objeto relacional foi utilizado JPA(Hibernate), como gerenciador de dependências o Maven, e MySQL como banco de dados relacional. 
						</div>
						<div class="tab-pane fade" id="front" role="tabpanel"
							aria-labelledby="list-front-list">
							<a href="http://hibernate.org/orm/"></a> Template engine: Thymeleaf. Template desenvolvido em HTML, CSS e JS.  
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</section>		
</body>
</html>